.Pages {
    width: 100%;
    display: flex;
    justify-content: center;
    background: black;
}

.Pages__users {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 30px;
}

.userCard {
    width: 40%;
    background: rgb(222, 221, 221);
    border-radius: 3px;
    border: none;
}

.topDescrip {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 15px;
}

.bottomDescrip {
    margin: 5px;
}

.identity {
    margin: 5px;
}
